
.container_small-card {
  width: 700px;
  margin-bottom: 15px;
}
.container_small-card-content {
  display: flex;
  flex-direction: row;
}

.photo_small-card > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.title_small-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_small-card > h1{
  font-size: 1rem;
}

.container_small-card-separator{
  margin-top: 10px;


}
