
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="container_articles_main">
    <app-big-card
    [Id]="(articles[0]).id"
    [photoCover]="(articles[0]).photoCover"
    [cardDescription]="(articles[0]).articleDescription"
    [cardTitle]="(articles[0]).articleTitle"
    ></app-big-card>
  </div>

  <div class="container_articles_others">
    <app-small-card *ngFor="let article of articles" [Id]="article.id" [photoCover]="article.photoCover" [cardTitle]="article.articleTitle"></app-small-card>
  </div>


</div>

