/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* valor da borda é contabilizado de borda a borda*/
  background-color:#212226;
  color: #D7D7D9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
}

hr {
  border-color: #3C3D40;
}
