/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* valor da borda é contabilizado de borda a borda*/
  background-color: #111111;
  color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
}
